

.pic {
  float: left;
  height: 300px;
  width: 300px;
  overflow: hidden;
}

.grow img {
  height: 300px;
  width: 300px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.grow img:hover {
  width: 350px;
  height: 350px;
  opacity: 0.5;
}

.pic-text img:hover {
    opacity: .4;
}
