.main {
  margin: 10px; }

.whole {
  padding: 2px;
  border: 1px solid #ccc;
  background-color: white; }

.footer {
  padding: 1em;
  font-size: .8em; }

.mycard-deck {
  margin-bottom: 2em; }

.body-bg {
  background-color: #f4f3e49a;
  background-color: #f7f4eb; }

/*
.bg-header {
    background-color: $bg-header;
} 
*/
.bg-header {
  background-color: red;
  background-image: linear-gradient(to right, #fcdb6f, #f27e4d); }

.my-shadow-lg {
  text-shadow: 2px 2px 0 #13657e, 2px -2px 0 #13657e, -2px 2px 0 #13657e, -2px -2px 0 #13657e, 2px 0px 0 #13657e, 0px 2px 0 #13657e, -2px 0px 0 #13657e, 0px -2px 0 #13657e, 5px 5px 7px rgba(28, 110, 164, 0.95); }

.my-shadow-sm {
  text-shadow: 2px 2px 0 #13657e, 2px -2px 0 #13657e, -2px 2px 0 #13657e, -2px -2px 0 #13657e, 2px 0px 0 #13657e, 0px 2px 0 #13657e, -2px 0px 0 #13657e, 0px -2px 0 #13657e, 1px 1px 2px rgba(28, 110, 164, 0.95); }

.check {
  position: absolute;
  top: -50px;
  opacity: 0.7; }
