.main {
  margin: 10px; }

.whole {
  padding: 2px;
  border: 1px solid #ccc;
  background-color: white; }

.footer {
  padding: 1em;
  font-size: .8em; }

.mycard-deck {
  margin-bottom: 2em; }

.body-bg {
  background-color: #f4f3e49a;
  background-color: #f7f4eb; }

/*
.bg-header {
    background-color: $bg-header;
} 
*/
.bg-header {
  background-color: red;
  background-image: linear-gradient(to right, #fcdb6f, #f27e4d); }
