.main {
  margin: 10px; }

.whole {
  padding: 2px;
  border: 1px solid #ccc;
  background-color: white; }

.footer {
  padding: 1em;
  font-size: .8em; }

.mycard-deck {
  margin-bottom: 2em; }

.body-bg {
  background-color: #f7f4eb; }

/*
.bg-header {
    background-color: $bg-header;
} 
*/
.bg-header {
  background-image: linear-gradient(to right, #fff0bf, #e9ba1f); }

.my-shadow-lg {
  text-shadow: 3px 3px 0 #922f05, 3px -3px 0 #922f05, -3px 3px 0 #922f05, -3px -3px 0 #922f05, 3px 0px 0 #922f05, 0px 3px 0 #922f05, -3px 0px 0 #922f05, 0px -3px 0 #922f05, 4px 4px 7px rgba(10, 10, 10, 0.95); }

.my-shadow-sm {
  text-shadow: 2px 2px 0 #922f05, 2px -2px 0 #922f05, -2px 2px 0 #922f05, -2px -2px 0 #922f05, 2px 0px 0 #922f05, 0px 2px 0 #922f05, -2px 0px 0 #922f05, 0px -2px 0 #922f05, 1px 1px 2px rgba(206, 226, 22, 0.95); }

.check {
  position: absolute;
  top: 80px;
  opacity: 0.5; }

body {
  background-image: url(../images/mm-blue.png);
  background-repeat: repeat; }

.fa-facebook-square {
  color: #3C5A99; }

.fa-instagram {
  color: #F56040;
  /*
    #405DE6;
    #5851DB;
    #833AB4;
    #C13584;
    #E1306C;
    #FD1D1D;
    #F56040;
    #F77737;
    #FCAF45;
    #FFDC80;
*/ }

.fa-map-marker-alt {
  color: #0F9D58; }

.fa-phone {
  color: red; }

.countdown {
  padding: 3px;
  color: red; 
}

.my-mt-15 {
  margin-top: 70%;
  width: 100%;
}
.overlay-opac {
  background-color: #fff;
  opacity: 0.70;
  padding-top: 10.em;
}

.my-fluid-text {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
  font-size: 2vw;
  font-size: 1vh;
  font-size: 2vmin;
}
