$bg-color: #f7f4eb;
$content-color: white;
$whole-border: 1px solid #ccc;
$bg-header-start: #f7b969;
$bg-header-end: #ff8800;
$text-outline: #ff8800;
$bg-header: #f80;
$head-shad: 50px;

@import url("/css/logo-grid.css");
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

@font-face {
  font-family: "New Gothic MT";
  src: url("/fonts/NewsGothicMT.ttf");
}

/* header */
@media screen and (max-width: 800px) {
  .second {
    visibility: hidden;
  }
}

.container .header {
  background-color: black;
}

.header img {
  height: 10em;
}

.bg-header {
  background-color: $bg-header;
  /*background-image: linear-gradient(to right, $bg-header-start, $bg-header-end);*/
} 

.my-header{
  background-color: black; height: 180px;
}

.logo {
  width: 300px; 
  float: left;
}
/* /header */


.nav {
  /*background-image: linear-gradient(to right, $bg-header-end, $bg-header-start);*/
  background-color: #f80;
  margin-bottom: 2em;
}

.navbar-nav a{
  font-family: arial;
  color: blue;
}

.whole {
  padding: 2px;
  border: $whole-border;
  background-color: $content-color;
}

.h2 .h3 .h4 p {
  font-family: "Open Sans", sans-serif;
}

.footer {
  padding: 1em;
  font-size: 0.8em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-image: linear-gradient(to top, $bg-header-start, $bg-header-end);
}

.mycard-deck {
  margin-bottom: 2em;
}





/*
.bg-header {
  background-image: linear-gradient(to right, $bg-header-start, $bg-header-end);
  height: 5em;
}
*/

.my-shadow-lg {
  text-shadow: $head-shad $head-shad 0 $text-outline,
    $head-shad -$head-shad 0 $text-outline,
    -$head-shad $head-shad 0 $text-outline,
    -$head-shad -$head-shad 0 $text-outline, $head-shad 0px 0 $text-outline,
    0px $head-shad 0 $text-outline, -$head-shad 0px 0 $text-outline,
    0px -$head-shad 0 $text-outline, 4px 4px 7px rgba(255, 255, 255, 0.95);
  font-family: "New Gothic MT";
}

.my-shadow-lg {
    text-shadow:
     #fff 0px 0px 5px,
     #fff 0px 0px 10px,
     #fff 0px 0px 15px,
     #ccc 0px 0px 20px,
     #ccc 0px 0px 30px,
     #ccc 0px 0px 40px,
     #ccc 0px 0px 50px,
     #ccc 0px 0px 75px,
      0px 0px 0px rgba(212, 255, 112, 0);
    color: #1c1c1c;
    font-family: "arial";
}

.my-shadow-sm {
  text-shadow:
  #fff 0px 0px 5px,
  #fff 0px 0px 10px,
  #fff 0px 0px 15px,
  #ccc 0px 0px 20px,
  #ccc 0px 0px 30px,
  #ccc 0px 0px 40px,
  #ccc 0px 0px 50px,
  #ccc 0px 0px 75px,
   0px 0px 0px rgba(212, 255, 112, 0);
 color: #1c1c1c;
 font-family: "arial";
}

.check {
  position: absolute;
  top: 80px;
  opacity: 0.5;
}

.fa-facebook-square {
  color: #3c5a99;
}
.fa-instagram {
  color: #f56040;
  /*
    #405DE6;
    #5851DB;
    #833AB4;
    #C13584;
    #E1306C;
    #FD1D1D;
    #F56040;
    #F77737;
    #FCAF45;
    #FFDC80;
*/
}
.fa-map-marker-alt {
  color: #0f9d58;
}
.fa-phone {
  color: red;
}

.countdown {
  padding: 3px;
  color: red;
}

.my-mt-15 {
  margin-top: 60%;
  width: 100%;
}
.overlay-opac {
  background-color: #fff;
  opacity: 0.7;
}

.my-fluid-text {
  font-size: 2vw;
  font-size: 1vh;
  font-size: 2vmin;
}

.card-img:hover .grow {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.card-img:hover {
  opacity: 0.4;
  transition: 0.5s ease-in-out;
  width: 105%;
  display: block;
}

.overlay-opac2 {
  opacity: 6;
}

.card-img-overlay {
  opacity: 0%;
}

a.carousel-control-prev,
a.carousel-control-next {
  width: 5%;
}
