$bg-color: #f7f4eb;
$content-color: white;
$whole-border: 1px solid #ccc;
$bg-header-start: #fcdb6f;
$bg-header-end: #f27e4d;


.main {
    margin: 10px;
}

.whole {
    padding: 2px;
    border: $whole-border;
    background-color: $content-color;
}

.footer {
    padding: 1em;
    font-size: .8em;
}

.mycard-deck {
    margin-bottom: 2em;
}

.body-bg {
    background-color: #f4f3e49a;
    background-color: $bg-color;
}

/*
.bg-header {
    background-color: $bg-header;
} 
*/

.bg-header  {
    background-color: red; 
    background-image: linear-gradient(to right, $bg-header-start, $bg-header-end);
}
